<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418893390894-85a520ol36784v9euf485ndru3acj92q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418893390894-85a520ol36784v9euf485ndru3acj92q</string>
	<key>API_KEY</key>
	<string>AIzaSyBbklBVfDzpRL1JNoStmCpBjNKWxyYdmLs</string>
	<key>GCM_SENDER_ID</key>
	<string>418893390894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nVision.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nvision-c00ea</string>
	<key>STORAGE_BUCKET</key>
	<string>nvision-c00ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418893390894:ios:c1cade2525114c714c6bbf</string>
</dict>
</plist>